[submodule "old/Jarvis"]
	path = old/Jarvis
	url = https://github.com/MakeSpaceMadrid/Jarvis
	branch = master
[submodule "baseNodes/libreNode"]
	path = baseNodes/libreNode
	url = https://github.com/successbyfailure/libreNode
	branch = master
[submodule "minions/powerMeterEastron/lib/SDM_Energy_Meter"]
	path = minions/powerMeterEastron/lib/SDM_Energy_Meter
	url = https://github.com/reaper7/SDM_Energy_Meter
[submodule "minions/OpenClosed"]
	path = minions/OpenClosed
	url = https://github.com/makespacemadrid/OpenClosed
