[Unit]
Description=GLaDOS Monitoring.

[Service]
Type=simple
Restart=always
RestartSec=1
User=centos
ExecStart=/usr/bin/python /home/glados/glados/baseNodes/pythonNode/gladosNode.py

[Install]
WantedBy=multi-user.target
